
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://w0.peakpx.com/wallpaper/129/716/HD-wallpaper-sea-ocean-water-sunset-blur-sea-ocean-water-sunset-blur-nature.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  
    width: 100%;
  
}



.row {
    width: 60%;
    margin: auto;
    padding: 80px;
    


}

.col-50 {
    width: 50%;
    background-color: white;

    float: left;
    height: 550px;

}

.bg-img {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/946/1015/647/sunset-sea-beach-waves-blue-orange-sky-wallpaper-preview.jpg);
    width: 50%;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
  border-radius: 20px 0px 0px 20px;

}
.bg-white{
    border-radius: 0px 20px 20px 0px;
}

h2 {
    font-size: 38px;
    margin: 0px;
    
    padding-top: 45px;
}

h1 {
    font-size: 50px;
    margin: 0px;
    
}

.bg-img p {
    font-size:12px;
    color: rgb(198, 211, 222);
    
}
h3{
  font-size: 30px;
}
.right p,span{
    font-size: 10px;
    color: grey;
}
input {
    display: block;
    padding: 22px 0px 5px 0px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(183, 180, 180);
    width: 100%;

}
::placeholder {
    color: black;
    font-size: 10px;
    font-weight: 600;
    
   
}

input[type=radio] {
    width:auto;
    margin-top: 8px;
   
   
}

.left,.right{
    padding: 30px;
}

p.left,span
 {
    font-size: 15px;
}

#login{
    
    background-color: rgb(208, 57, 57);
    padding: 10px 40px;
    float: right;
    
}
button{
    border: none;
    border-radius: 25px;
    color: white;
    padding: 8px 10px;
    cursor: pointer;
    margin-right: 30px;
    justify-content: space-between;
    width: 100px;
}
#fb{
    background-color: #033791;
}
#twitter{
    background-color: skyblue;
}
#google{
    background-color: rgb(180, 16, 16);
}
i{
    margin-right: 8px;
}

a{
    text-decoration: none;
}
